/* ===== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

button {
  outline: none;
  border: none;
}


/* ===== VARIABLES ========== */
:root {
  font-size: 100%;

  --title: #F3D3BD;
  --body: #333333;
  --main: #5E5E5E;
  --link: #FCFAF9;
  --link-hover-background: #333333;
}


/* ===== BASE ========== */
html,
body {
  height: 100%;
}

body {
  font-size: 1.3rem;
  background-color: var(--body);
}


/* ===== LAYOUT ========== */
.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* ===== HEADER ========== */
#header {
  color: var(--title);
  text-align: center;
  margin: 2rem 0;
}


/* ===== MAIN ========== */
#main {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem auto;
  padding: 1rem;

  max-width: 50rem;
  min-height: 30rem;

  border-radius: 8px;
  background-color: var(--main);
  box-shadow: 8px 8px 16px rgba(243, 211, 189, 0.5);
}

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  gap: 1rem;
}

.task-item {
  display: flex;
}

.link {
  text-decoration: none;
  color: var(--link);

  font-size: 1.4rem;
  font-weight: 600;

  padding: 1rem;
  transition: .3s all ease;
}

.link:hover {
  background-color: var(--link-hover-background);
  border-radius: 8px;
}


/* ===== FOOTER ========== */
#footer {
  color: var(--link);
  text-align: center;

  margin-top: 3rem;
  font-weight: 500;
}
