/* ===== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== BASE ========== */
html, 
body {
  height: 100vh;
}

body {
  font: 400 1.2rem 'Pacifico', sans-serif;
}

/* ===== LAYOUT ========== */


/* ===== MEDIA QUERRIES ========== */
