<div class="container text-left mt-4">
  <div class="d-flex align-items-center gap-2">
    <img src="../../assets/dog-1.png" alt="" />
    <span>Aplicação idealizada para consumir uma API geradora de imagens e vídeos de doguinhos.</span>
  </div>
  
  <div class="d-flex align-items-center gap-2 mt-3">
    <img src="../../assets/dog-2.png" alt="" />
    <span>Clique no botão abaixo para começar!</span>
  </div>

  <div class="d-flex gap-2">
    <button class="btn btn-primary mt-4" routerLink="/dogs">Vamos lá!</button>
    <button class="btn btn-secondary mt-4" routerLink="/dogs">Sim!</button>
  </div>
</div>