<div class="container-fluid mt-5">
    <h1 class="text-center mt-4">Prova final - Programação Web</h1>
    
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 gif-car">
            <img src="../assets/gif/car.gif" alt="GIF de carro" class="img-fluid">
        </div>
        <div class="col-md-5 text">
            <p class="">Olá, seja muito bem-vindo(a) a este pequeno sistema de cadastro de carros, vamos começar?</p>
            <div class="d-flex gap-2 buttons mt-4">
                <button type="button" class="btn btn-outline-primary" routerLink="cadastro">Vamos lá</button>
                <button type="button" class="btn btn-outline-secondary">Não, obrigado</button>
            </div>
        </div>
    </div>
</div>