.modal-header, .modal-footer {
  border: none;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
  }
}

@media (min-width: 767px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 900px;
  }
}
